@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "League Gothic", sans-serif;
  background-color: black;
}

.header {
  height: 80px;
  margin-right: 10px;
  /* border-bottom: 1px solid white; */
}

hr{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.header .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin-right: 40%;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 30px;
}

.titulo {
  color: white;
}

/* #log{ */
/* border-radius: 5px;
  padding: 2px;
  border: 1px solid white;
}

#log:hover{
  background-color: white;
  color: black;
}

#cad{
  border-radius: 5px;
  padding: 2px;
  background-color: white;
  color: black;
}

#cad:hover{
  background-color: black;
  color: white;
  border: 1px solid white; */

/* } */

#allIncluded {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 5% auto;
  gap: 2%;
}

#allIncluded input{
  background-color: #fff;
  width: 86%;
  height: 200px;
  border: 1px solid black;
}

#select-volume{
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
} 

#allIncluded input{
  text-align: center;
}

#avaliacao {
  background-color: white;
  width: 413px;
  height: 450px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Container-avaliacao {
  margin-bottom: 7%;

}

#mensagemAvaliacao button{
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 40%;
}

#mensagemAvaliacao button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

#imgDokuga img {
  border-radius: 20px;
  width: 413px;
  height: 450px;
}