@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

body {
  background: #0d0d0d;
  color: #eeeeee;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 20px;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;

}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.titulo {
  font-size: 1.5rem;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

#kpi-container {
  margin: 20px auto;
  margin-bottom: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.kpi-card {
  width: 300px;
  height: 160px;
  background: #111;
  border: 2px solid #e4002b;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mais{
  color: #e4002b;
}

.kpi-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.kpi-valor {
  font-size: 32px;
  font-weight: bold;
  color: #e4002b;
  margin: 5px 0;
}

.kpi-desc {
  font-size: 14px;
  color: #bbb;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.mainTxt {
  font-size: 10px;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #fff;
  gap: 20px;
}

.navbar a:hover {
  border-bottom: 1px solid white;
}



li a {
  text-decoration: none;
  font-style: none;
}

.btnEntrarLogin a {
  font-size: 12px;
}

.btnEntrarLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 18%;
  margin-left: 180px;
  gap: 15px;
}

#cad {
  width: 2000px;
  background-color: white;
  color: black;
  padding: 6px;
  border-radius: 5px;
}

#cad:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

#log {
  border: 1px solid white;
  border-radius: 5px;
  padding: 6px;

}

#log:hover {
  background-color: white;
  color: black;
}



.dash {
  max-width: 1500px;
  margin: 10px auto;
}

.dash h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}



#container-dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#div-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}



.graph {
  background: #141414;
  border: 2px solid #222;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
}

canvas {
  width: 100% !important;
  height: 350px !important;
}