@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

body {
  background: #0d0d0d;
  color: #eeeeee;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 20px;
}

.header {
  height:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.btnEntrarLogin a{ 
  font-size: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.mainTxt {
  font-size: 10px;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #fff;
  font-size: 10px;
  gap: 20px;
}

.navbar a:hover {
  border-bottom: 1px solid white;
}



li a {
  text-decoration: none;
  font-style: none;
}

#cad {
  width: 20px;
  background-color: white;
  color: black;
  padding: 2px;
  border-radius: 5px;
}

#cad:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

#log {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px;
}

#log:hover {
  background-color: white;
  color: black;
}



.dash {
  max-width: 1500px;
  margin: auto;
}

#container-dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#div-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}



.graph {
  background: #141414;
  border: 2px solid #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  width: 100%;
  max-width: 800px;
}

canvas {
  width: 100% !important;
  height: 350px !important;
}