@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  font-family: "League Gothic", sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.mainTxt {
  font-size: 10px;
}

.header {
  height: var(--tamanho-header);
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

hr {
  width: 80%;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#cad {
  background-color: white;
  color: black;
  padding: 2px;
  border-radius: 5px;
}

#cad:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

#log {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px;
}

#log:hover {
  background-color: white;
  color: black;
}

.btnEntrarLogin {
  width: 12%;
  margin-left: 180px;
}

/* .agora {
  font-weight: 800;
} */

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #fff;
}

.navbar a:hover {
  border-bottom: 1px solid white;
}

.titulo {
  color: #fff;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
}



.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 65%;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.banner .container span {
  font-weight: 800;
}

/* Volumes */

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;

}

#VolumeTitle {
  font-size: 4rem;
  /* border: 2px solid red; */
}

.social p {
  color: white;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 30%;
}

.box img:hover {
  transform: scale(1.2);
  border-radius: 20px;
  cursor: pointer;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box img {
  width: 200px;
}

.boxSeta {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxSeta:hover {
  cursor: pointer;
}

/* Personagens */

.personagens {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.personagensItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.personagemTitle {
  font-size: 4rem;
}

.imgP:hover {
  cursor: pointer;
}



/* FOOTER */

.footer {
  background-color: #000;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

#apresentacao {
  width: 30%;
  border-right: 1px solid white;
  padding: 1.3%;
}

#sobreMim {
  width: 30%;
  border-right: 1px solid white;
  padding: 1.3%;
}

#cardContatos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#sobreP {
  width: 100%;
  height: 300px;
  font-size: 1.4rem;
}

#Contatos {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding: 1.3%;
  width: 30%;
}

#Contatos img {
  width: 40px;
  height: 40px;
}

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* video */

#video {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4%;
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}


#buttonNavBar img {
  width: 70px;
  position: fixed;
  left: 90%;
  border-radius: 100px;
  top: 77%;
  border: 1px solid white;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}