@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
    color: white;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container {
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 2%;
    gap: 10px;

}

.titulo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
}

/* Fim header */

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario h2{
    margin-top: -100px;
    padding: 5%;
    font-weight: 800;
    font-size: 3rem;
}


.containerLogin {
    background-image: url(../assets/imgs/En.jpg);
    background-size:cover ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.containerSenha {
    background-image: url(../assets/imgs/nikaido.jpg);
    background-size:cover ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo{
    display: flex;
    align-items: center;
    justify-content: center;
}



.campo input{
    width: 80%;
    height: 5vh;
}

.botao{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

#botao button{
    margin-top: 10px;
    height: 10px;
    padding: 15px;
    background-color: red;
    border: none;
    border-radius: 20px;
}

.loading-div{
    display: none;
}

.card_erro{
    display: none;
}

/* mensagem de validação */

#mensagem_erro{
    background-color: red;
    position: absolute;
    width: 15%;
    height: 10vh;
    left: 800px;
    top: 12%;
}

.campo{
    width: 100%;
}

.iptText{
    padding: 5px;
    margin-bottom: 2%;
    width: 60px;
}