@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');


body {
    font-family: "League Gothic", sans-serif;
    margin: 0;
    padding: 0;
    background: url(../assets/imgs/hungryBug.jpg) no-repeat center center fixed;
    background-size: cover;
}


.container-rpg {
    width: 95%;
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 1.5rem;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-top: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    background: #eee;
    border-radius: 5px;
    font-size: 1rem;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 1rem;
}