@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container {
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 2%;
    gap: 10px;

}

.titulo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
}


.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerLogin {
    background-image: url(../assets/imgs/En.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
}

.containerSenha {
    background-image: url(../assets/imgs/nikaido.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo input {
    width: 80%;
    height: 5vh;
}

.botao {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}

.loading-div {
    display: none;
}

.card_erro {
    display: none;
}

#mensagem_erro {
    background-color: red;
    position: absolute;
    width: 15%;
    height: 10vh;
    left: 800px;
    top: 12%;
}